WebContent/wsdl/ImplServiceWeb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.ws.tecgurus.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.ws.tecgurus.com" xmlns:intf="http://soap.ws.tecgurus.com" xmlns:tns1="http://bean.ws.tecgurus.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.ws.tecgurus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.ws.tecgurus.com"/>
   <element name="crearUsuario">
    <complexType>
     <sequence>
      <element name="usuario" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearUsuarioResponse">
    <complexType>
     <sequence>
      <element name="crearUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarUsuario">
    <complexType>
     <sequence>
      <element name="var" type="xsd:string"/>
      <element name="var2" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="buscarUsuarioResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="buscarUsuarioReturn" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarUsuario">
    <complexType>
     <sequence>
      <element name="usuario" type="tns1:Usuario"/>
     </sequence>
    </complexType>
   </element>
   <element name="actualizarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="actualizarUsuarioReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarUsuario">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="borrarUsuarioResponse">
    <complexType>
     <sequence>
      <element name="borrarUsuarioReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.ws.tecgurus.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Usuario">
    <sequence>
     <element name="apellido" nillable="true" type="xsd:string"/>
     <element name="contrasenia" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="actualizarUsuarioRequest">

      <wsdl:part element="impl:actualizarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="borrarUsuarioResponse">

      <wsdl:part element="impl:borrarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarUsuarioResponse">

      <wsdl:part element="impl:buscarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="borrarUsuarioRequest">

      <wsdl:part element="impl:borrarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearUsuarioResponse">

      <wsdl:part element="impl:crearUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearUsuarioRequest">

      <wsdl:part element="impl:crearUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="actualizarUsuarioResponse">

      <wsdl:part element="impl:actualizarUsuarioResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="buscarUsuarioRequest">

      <wsdl:part element="impl:buscarUsuario" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ImplServiceWeb">

      <wsdl:operation name="crearUsuario">

         <wsdl:input message="impl:crearUsuarioRequest" name="crearUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:crearUsuarioResponse" name="crearUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarUsuario">

         <wsdl:input message="impl:buscarUsuarioRequest" name="buscarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:buscarUsuarioResponse" name="buscarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="actualizarUsuario">

         <wsdl:input message="impl:actualizarUsuarioRequest" name="actualizarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:actualizarUsuarioResponse" name="actualizarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="borrarUsuario">

         <wsdl:input message="impl:borrarUsuarioRequest" name="borrarUsuarioRequest">

       </wsdl:input>

         <wsdl:output message="impl:borrarUsuarioResponse" name="borrarUsuarioResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ImplServiceWebSoapBinding" type="impl:ImplServiceWeb">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="crearUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crearUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crearUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="buscarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="buscarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="buscarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="actualizarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="actualizarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="actualizarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="borrarUsuario">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="borrarUsuarioRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="borrarUsuarioResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImplServiceWebService">

      <wsdl:port binding="impl:ImplServiceWebSoapBinding" name="ImplServiceWeb">

         <wsdlsoap:address location="http://localhost:8080/soap-ws/services/ImplServiceWeb"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
